<main>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="text-center">
                <font size="40"><strong>About</strong></font>
                </div>
            <div class="mt-5">
                    <div class="text-center">
                    <font size="30">Life Style Collection Box　とは？<br></font>
                    <div class="pt-5">
                    <h5>ユーザー皆で作る収集箱。<br>
                    便利と思った商品、少しの工夫を知ることで<br>
                    <strong>普段の生活に大きな幸せを</strong></h5>

                    <p>まずは<%= link_to "こちら", new_user_registration_path %>から新規登録を</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>