<main>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="text-center">
                <font size="40"><strong>About</strong></font>
                </div>
            <div class="mt-5">
                    <div class="text-center">
                    <font size="30">～使い方～<br></font>
                    <div class="pt-5">
                    <h5>①ハンドルネームとメールアドレスで新規登録<%= image_tag 'one.png', size: "500x300" %><br>
                    ②まずはジャンル検索してみよう<br>
                    ③気に入ったらいいねを押そう<br>
                    ④自分で投稿してみよう<br>
                    ⑤自身の生活に役立てよう<br></h5>
                    <div class="mt-5">

                    <p>まずは<%= link_to "こちら", new_user_registration_path %>から新規登録を</p>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>