<h3>投稿一覧画面</h3>
<% @posts.each do |post| %>
<div>
   <%= attachment_image_tag post, :image, :fill, 100, 100 %>
  <p>タイトル：<%= post.title %></p>
  <p>ユーザーネーム：<%= post.user.handle_name %></p>
</div>
<% end %>